<div class="container-fluid convert" *ngIf="symbols">
    <form [formGroup]="convertorForm" (ngSubmit)="convertCurrency()">
        <div class="convert-form" >
            <div class="convert-form-amount">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="amount" formControlName="amount" />
            </div>
            <div class="convert-form-from">
                <label for="from" class="form-label">From</label>
                <select class="form-select" formControlName="from" aria-label="Select from currency">
                  <ng-container *ngFor="let symbol of symbols | keyvalue">
                    <option [value]="symbol.key">{{symbol.value}}</option>
                  </ng-container>
                </select>
            </div>
            <button class="convert-form-reverse" (click)="exchangeCurrency()">
                <img src="{{config.exchangeImageUrl}}" alt="Reverse Exchange">
            </button>
            <div class="convert-form-to">
                <label for="to" class="form-label">To</label>
                <select class="form-select" formControlName="to" aria-label="Select to currency">
                    <ng-container *ngFor="let symbol of symbols | keyvalue">
                        <option [value]="symbol.key">{{symbol.value}}</option>
                      </ng-container>
                </select>
            </div>
        </div>
        <div class="convert-final-value">
            <span>{{convertorForm.value['amount'] | currency:convertorForm.value['from']:showCurrencySignInConvertedStatement:decimalPlacesInConvertedStatement }}
                 {{symbols.get(convertorForm.value['from'])}} =
                  {{convertedValue | currency:convertorForm.value['to']:showCurrencySignInConvertedStatement:decimalPlacesInConvertedStatement }}
                   {{symbols.get(convertorForm.value['to'])}}</span>
        </div>
        <div class="convert-button">
            <button type="submit" class="btn btn-primary" [disabled]="!convertorForm.valid">Convert</button>
        </div>
    </form>
</div>