<div class="currencies">
    <div class="currencies-container" *ngFor="let option of config.selectedCurrencies">
        <div class="card currencies-card-container">
           {{1 | currency:fromCurrency(option):config.showCurrencySignInConvertedStatement}}
            {{fromCurrency(option)}} =
             {{convertedValue(option) | currency:toCurrency(option):config.showCurrencySignInConvertedStatement:config.decimalPlacesInConvertedStatement }} {{toCurrency(option)}}
        </div>
    </div>
</div>