
$height-one: 1px;
$height-two: 2px;
$height-twenty-two: 22px;

$width-one: 1px;
$width-two: 2px;
$width-twenty-two: 22px;

$margin-five: 5px;
$margin-twelve: 12px;
$margin-twenty: 20px;
$margin-hundred: 100px;
$margin-five-percent: 5%;

$border-one: 1px;
$border-eight: 8px;

$opacity-one: 1;
$opacity-zero: 0;
$opacity-point-three: 0.3;

$color-blue-tinge: #002272;
$color-white: #FFF;

$border-size-one: 1px;
$border-radius-fifty-percent: 50%;
$border-exchange-color: #DDDDDD;

$box-shadow-default: rgba(35, 55, 80, 0.3);
$box-shadow-size-zero: 0;
$box-shadow-size-six: 6px;
$box-shadow-size-twelve: 12px;

$rotate-zero-deg: 0deg;
$rotate-forty-five-deg: 45deg;
$rotate-ninety-deg: 90deg;

$transform-zero-percent: 0%;
$transform-ten-percent: 10%;
$transform-fifty-percent: 50%;

$transition-time-point-two: .2s;
$transition-timing-function: ease;