<app-header [setConfig]="configData.navbar"
 (convertCurrencyOption)="setConvertOptionFromNavber($event)">
</app-header>

<div class="card description-card">
    <app-description [setConfig]="configData.description"></app-description>
</div>
<div class="container card convertor-card">
    <app-convertor
     [setConfig]="configData.convertor"
     [setFormValues]="convertorForm"
     [setSymbols]="symbols"
     [setConvertedValue]="setConvertedValue"
     (convertTrigger)="convertCurrency()"
    ></app-convertor>
</div>

<div class="container">
    <app-chosen-currencies-converted-grid
     [setConfig]="configData.chosenCurrenciesGrid"
     [setCurrencyRates]="currencyRates"
    ></app-chosen-currencies-converted-grid>
</div>